<!-- Form Screen - Refer to form.scss -->
<ion-view view-title="Add new feed" hide-nav-bar="true" class="rubyonic-pane form-screen">
  <!-- Custom Header:
  We did this so we could have a custom bar without 
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->
  <div class="bar bar-ruby-header bar-transparent">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">Add Map</h1>
    <!-- <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button> -->
  </div>
  <!-- End Custom navbar -->
<ion-content class="has-header">
    <div class="padding form-rb-plain">
      <div class="list">
       <h3 style="margin-left:75px; ">Add A New Feed</h3>
       <label class="item item-input">
       <input type="text" placeholder="Title">
       </label>
       <label class="item item-input">
       <input type="text" placeholder="Enter Location:">
       </label>
       <label class="item item-input">
       <textarea placeholder="Comments:" rows="20"></textarea>
       </label>
      </div>  
        <button class="button button-medium button-transparent"style="background-color:#0288d1;" >
           Map Location
        </button>
        <button class="button button-medium button-transparent"style="background-color:#0288d1; border-radius: 50%; margin-left:20px;" >
        <i class="icon ion-ios-mic"></i>
        </button>
        <button class="button button-medidum button-" style="background-color:#43a047; margin-left:20px; ">
         Submit Feed  
        </button>
         </div>    
  </ion-content>
</ion-view>
