<!-- Post Screen - Refer to viewpost.scss -->
<ion-view view-title="View Post" hide-nav-bar="true" class="rubyonic-pane view-post-screen">
  <!-- 
  setting 'hide-nav-bar="true"' above enables us to create our own header bar
  by hiding the default one without messing with ionic's state/history management
  -->

<ion-header-bar align-title="center" class="bar post-bar" ng-controller="NavigationCtrl">
  <div class="buttons">
    <button class="button button-clear  icon ion-android-add brand-base-text-color" ng-click="go('app.feed')">
     
    </button>
  </div>
  <h1 class="title">
    Weather
  </h1>
  <div class="buttons">
    <button class="button button-clear">
      <span class="icon ion-share"></span>
    </button>
  </div>
</ion-header-bar>

  <ion-content class="has-header">

        <div class="post">
        <div class="post-overlay"></div>
        <img class="post-wallpaper" src="img/demo/map.jpg" alt="">
        <div class="post-details">
          <h3 class="post-title">Current Weather at WUSE II, Abuja Nigeria is 37°c.</h3>
          <h4 class="post-by with-thumbnail brand-base-text-color clearfix">
            <img src="img/demo/profile-image.jpg" class="poster-thumb" alt="">
            Musa Bashiru
            <span class="post-date"><span class="ion-ios-clock-outline"></span>Weather at 11:54pm</span>
          </h4>
        </div>
      </div>


      <!-- 7-day weather feed section -->
      <style type="text/css">
        .me{
          margin-left: 40%;
        }
        .para{
          margin-left: 30%;
        }
        .post-content{
          width: 100%;
        }
        
        </style>
      <div class="row post-section">
        <div class="post-content">
          <i class="ion-ios-thunderstorm-outline me" align="center" style="font-size:50px;"></i><p class="para">37°c on Monday</p>
          <hr>
          <i class="ion-ios-partlysunny-outline me" style="font-size:50px;"></i><p class="para">37°c on Tuesday</p>
          <hr>
          <i class="ion-ios-cloud-outline me" style="font-size:30px;"></i><p class="para">37°c on Wednesday</p>
          <hr>
          <i class="ion-ios-sunny-outline me" style="font-size:50px;"></i><p class="para">37°c on Thursday</p>
          <hr>
          <i class="ion-ios-partlysunny-outline me" style="font-size:50px;"></i><p class="para">37°c sunny on Friday</p>
          <hr>
          <i class="ion-ios-rainy-outline me" style="font-size:50px;"></i><p class="para">37°c on Saturday</p>
          <hr>
          <i class="ion-ios-thunderstorm-outline me" style="font-size:50px;"></i><p class="para">37°c rain on Sunday</p>
          <hr>
         
        </div>
      </div>
      <!-- 7-day weather feed section -->


  </ion-content>

</ion-view>
