// General Rules for items not classified elsewhere

	// Background Images
	$default-screen-background : '../img/blur-background.jpg';
	$sidebar-profile-background : '../img/demo/sidebar-bg.jpg';

	

	// .rubyonic-pane .bar {height: 50px;}
	// .rubyonic-pane ion-content {padding-top:7px;}

	// Margins
	.no-margin {margin:0;}
	// .rubyonic-pane {padding-top:10px;}
	.rubyonic-pane .ruby-button-clear {border:none; background:none;}